@charset "utf-8";
@font-face {
  font-family: "Daehan";
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.jsdelivr.net/korean-webfonts/1/corps/yoon/Daehan/DaehanR.woff2")
      format("woff2"),
    url("//cdn.jsdelivr.net/korean-webfonts/1/corps/yoon/Daehan/DaehanR.woff")
      format("woff");
}
@font-face {
  font-family: "Daehan";
  font-style: normal;
  font-weight: 700;
  src: url("//cdn.jsdelivr.net/korean-webfonts/1/corps/yoon/Daehan/DaehanB.woff2")
      format("woff2"),
    url("//cdn.jsdelivr.net/korean-webfonts/1/corps/yoon/Daehan/DaehanB.woff")
      format("woff");
}
@font-face {
  font-family: "GmarketSansBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GmarketSansLight";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "nanumgothic";
}

header {
  position: sticky;
  background-color: rgba(198, 219, 210, 0.63);
  height: 75px;
  top: 0;
  z-index: 10;
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.logo {
  position: absolute;
  top: 12px;
  left: 5vw;
  background: url("DATALAB/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px;
  width: 200px;
}

.story {
  background: url("DATALAB/background.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first {
  display: flex;
  width: 70vw;
  justify-content: space-around;
}

.sentence {
  margin-top: 100px;
  font-family: "Daehan";
  font-size: 1.5rem;
  margin-bottom: 80px;
  text-align: center;
  min-width: 975px;
}

.sentence:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sentence:nth-child(1)::before {
  content: "";
  display: block;
  width: 20rem;
  border-top: 2px solid #63b79f;
  margin-bottom: 1.8rem;
}

.highlight {
  background-image: linear-gradient(transparent 50%, #fcff85 50%);
  font-family: "Daehan";
}

.fairy {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 2.7rem;
}

.fairy:last-child {
  margin-right: 0;
}

.fairy-image {
  background-image: url("DATALAB/fairy-spritesheet.png");
  background-repeat: no-repeat;
  display: block;
  margin-bottom: 5rem;
}

.fairy-fairy1 {
  width: 212px;
  height: 186px;
  background-position: -5px -5px;
}

.fairy-fairy2 {
  width: 191px;
  height: 190px;
  background-position: -5px -201px;
}

.fairy-fairy3 {
  width: 212px;
  height: 186px;
  background-position: -5px -401px;
}

.fairy-fairy4 {
  width: 212px;
  height: 186px;
  background-position: -5px -597px;
}

.fairy-text {
  font-family: "Daehan";
  font-size: 1.5rem;
  width: 250px;
  text-align: center;
  word-break: keep-all;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fairy-text::before {
  content: "";
  display: block;
  width: 10rem;
  border-top: 1.5px solid #63b79f;
  margin-bottom: 1.5rem;
}

.main5 {
  background-image: url("DATALAB/first-4.png");
  height: 200px;
  width: 180px;
  margin-bottom: 80px;
}

.introduce {
  background-image: linear-gradient(
    rgb(198, 219, 210) 35%,
    #75d3b6 35% 75%,
    rgb(198, 219, 210) 75%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  height: 600px;
}

.second-title {
  position: absolute;
  top: 3rem;
  left: 0;
  background-image: url(DATALAB/second-1.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 300px;
  width: 700px;
}

.charts {
  display: flex;
  width: 70vw;
  justify-content: space-around;
  margin-top: 250px;
}

.chart {
  background-image: url("DATALAB/chart-spritesheet.png");
  background-repeat: no-repeat;
  display: block;
  list-style: none;
}

.chart-chart1 {
  width: 211px;
  height: 271px;
  background-position: -5px -5px;
}

.chart-chart2 {
  width: 211px;
  height: 271px;
  background-position: -5px -286px;
}

.chart-chart3 {
  width: 211px;
  height: 271px;
  background-position: -5px -567px;
}

.side-image {
  position: absolute;
  right: -30px;
  top: 130px;
  background-image: url(DATALAB/second-2.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 180px;
  width: 180px;
  z-index: 1;
}

.button {
  position: relative;
  background: url("DATALAB/background.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.help-button {
  background-image: url("DATALAB/button1.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 615px;
  height: 90px;
  border: none;
}

.help-button:hover {
  background-image: url("DATALAB/button2.png");
}

.eco-kit {
  font-family: "GmarketSansLight";
  font-size: 1.2rem;
}
.side-image1 {
  background-image: url(DATALAB/thrid-1.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 200px;
  width: 250px;
  position: absolute;
  right: 8vw;
  top: 5rem;
}

.side-image2 {
  background-image: url(DATALAB/thrid-2.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 200px;
  width: 250px;
  position: absolute;
  left: 7vw;
  bottom: 0.1vw;
}

.form {
  position: relative;
}

.form > #stb_subscribe {
  background-color: rgb(198, 219, 210);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  position: relative;
}

#stb_subscribe > form {
  margin-top: 230px;
  background-color: #fcf4c5;
  padding: 50px;
}

.logo2 {
  position: absolute;
  top: 35px;
  left: 5vw;
  background-image: url("DATALAB/logo2.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 200px;
  width: 400px;
  z-index: 4;
}

#stb_subscribe .policy {
  padding-top: 10px;
}

.stb_form_title {
  font-family: "GmarketSansBold";
}

#stb_subscribe .stb-title {
  font-family: "Daehan";
  font-style: normal;
  font-weight: 400;
}

#stb_subscribe .stb-box {
  border: none;
}

#stb_subscribe .stb-email {
  border: none;
  width: 300px;
}

#stb_subscribe .stb-button {
  border: none;
}

#stb_subscribe .stb_form_set_label {
  font-family: "GmarketSansLight";
  font-size: 20px;
  background-image: url("DATALAB/box.png");
  background-size: contain;
  width: 150px;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 3.5px;
}

#stb_subscribe .stb_form_set_input {
  border: none;
  display: flex;
  justify-content: center;
  border-radius: 30px;
}

#stb_subscribe .stb_form_submit_button {
  font-family: "GmarketSansLight";
  font-size: 22px;
  border: none;
  border-radius: 30px;
}

#stb_subscribe .email {
  font-family: "GmarketSansLight";
  margin-bottom: 10px;
}

.photos {
  background-color: rgb(198, 219, 210);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.trash-photo {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 870px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 200px;
  margin-top: 250px;
}

.trash:hover > .blind {
  position: relative;
  width: inherit;
  height: inherit;
  margin: 0;
  z-index: 5;
  background-color: rgba(117, 211, 182, 0.7);
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.trash {
  background-image: url("DATALAB/trash-spritesheet.png");
  background-repeat: no-repeat;
  display: block;
  border-radius: 10px;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.trash-trash1 {
  width: 250px;
  height: 250px;
  background-position: -5px -5px;
}

.trash-trash2 {
  width: 250px;
  height: 250px;
  background-position: -5px -265px;
}

.trash-trash3 {
  width: 250px;
  height: 250px;
  background-position: -5px -525px;
}

.trash-trash4 {
  width: 250px;
  height: 250px;
  background-position: -5px -785px;
}

.trash-trash5 {
  width: 250px;
  height: 250px;
  background-position: -5px -1045px;
}

.trash-trash6 {
  width: 250px;
  height: 250px;
  background-position: -5px -1305px;
}

.photos {
  background: url(DATALAB/four1.png);
  background-color: rgb(198, 219, 210);
  background-size: 1500px;
  background-repeat: no-repeat;
  background-position: center;
}

.description {
  display: flex;
  height: 140px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.product-text {
  font-family: "GmarketSansBold";
  font-size: 35px;
  color: white;
  word-break: keep-all;
  overflow: hidden;
  width: 210px;
  text-align: center;
  font-weight: normal;
}

.product-detail {
  font-family: "GmarketSansLight";
  color: white;
  text-align: center;
  word-break: keep-all;
}

.trash-photo > li {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
}

.trash-photo > li:first-child {
  margin-left: 0;
}

.trash-photo > li:nth-child(4) {
  margin-left: 0;
}

.form > #stb_subscribe::after {
  content: "";
  margin-top: 50px;
  display: block;
  width: 90%;
  border: 1px solid #75d3b6;
}

footer {
  background-color: white;
  font-family: "Daehan";
  height: 91px;
  text-align: center;
  padding-top: 14px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.copyright {
  font-family: "Daehan";
  margin-top: 0.6rem;
}

.sns {
  margin-bottom: 11px;
  margin-top: 6px;
}

.sns-icon {
  font-size: 2rem;
  color: #75d3b6;
  margin-right: 1rem;
}

.sns-icon:last-child {
  margin-right: 0;
}

@media screen and (max-width: 900px) {
  header {
    position: relative;
    height: 60px;
  }

  .logo {
    position: absolute;
    top: 12px;
    left: 5vw;
    background: url("DATALAB/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 30px;
    width: 150px;
  }

  .sentence {
    margin-top: 80px;
    font-family: "Daehan";
    font-size: 1.05rem;
    margin-bottom: 80px;
    text-align: center;
    word-break: keep-all;
    white-space: pre-line;
    line-height: 2rem;
    min-width: 0;
  }

  .sentence:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sentence:nth-child(1)::before {
    content: "";
    display: block;
    width: 10rem;
    border-top: 2px solid #63b79f;
    margin-bottom: 1.5rem;
  }

  .first {
    flex-direction: column;
  }

  .fairy {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0;
  }

  .fairy-image {
    margin-bottom: 3rem;
  }

  .fairy-text {
    width: 220px;
    font-size: 1.2rem;
    margin-bottom: 3rem;
  }

  .photos {
    background: url("DATALAB/four2.png");
    background-color: rgb(198, 219, 210);
    background-size: auto 800px;
    background-repeat: no-repeat;
    background-position-y: 80px;
    background-position-x: center;
  }

  .trash-photo {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: auto;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    min-width: 0;
  }

  .trash-photo > li {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    margin-bottom: 120px;
  }

  .trash:hover > .blind {
    position: relative;
    top: 248px;
    width: inherit;
    height: inherit;
    z-index: 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    background-color: transparent;
  }

  .trash {
    display: flex;
    justify-content: center;
    width: 300px;
    background-position-x: center;
  }

  .product-text {
    width: inherit;
    color: #5ea890;
  }

  .product-detail {
    color: black;
  }

  .trash > .blind {
    position: relative;
    top: 248px;
    width: inherit;
    height: inherit;
    z-index: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    background-color: transparent;
  }

  .help-button {
    width: 340px;
    height: 60px;
    border: none;
  }

  .side-image1 {
    height: 100px;
    width: 150px;
    position: absolute;
    right: 8vw;
    top: 5rem;
  }

  .side-image2 {
    height: 100px;
    width: 150px;
    position: absolute;
    left: 7vw;
    bottom: 2rem;
  }

  .eco-kit {
    font-size: 1rem;
    width: 350px;
    word-break: keep-all;
    text-align: center;
  }

  .logo2 {
    height: 100px;
    width: 300px;
  }

  #stb_subscribe > form {
    margin-top: 150px;
  }

  .stb_form_title {
    width: 150px;
    word-break: keep-all;
  }

  .second-title {
    height: 100px;
    width: 368px;
  }

  .charts {
    display: flex;
    width: 300px;
    flex-direction: column;
    align-items: center;
    margin-top: 250px;
  }

  .introduce {
    height: 1500px;
    background-image: linear-gradient(
      rgb(198, 219, 210) 10%,
      #75d3b6 15% 85%,
      rgb(198, 219, 210) 95%
    );
  }

  .chart {
    margin-bottom: 100px;
  }

  footer {
    word-break: keep-all;
    text-align: center;
  }

  .side-image {
    height: 130px;
    width: 130px;
  }
}
